.leaflet-container {
    width: 100%;
    height: 50vh;
  }
  .dark{
    filter: invert(1);
  }
  .dark .MuiCardMedia-root img{
    filter: invert(0);
  }

  .dark .top-header header{
    filter: invert(0);
  }

  .dark img{
    filter: invert(1);
  }

  .dark video{
    filter: invert(1);
  }

  .dark #starImage{
    filter: invert(1);
  }

  .dark .MuiCardMedia-root{
    filter: invert(1);
  }